<div class="pdf_block">
  <h2>{{ display_name }}</h2>

  {% if url != "" %}
  <div class="pdf-controls">
    <a href="{{ url }}" target="_blank" class="pdf-new-tab-button">
      Открыть в полноэкранном режиме
    </a>
  </div>

  <div class="pdf-viewer-container" id="pdf-viewer-{{ block_id }}">
    <div class="pdf-canvas-container">
      <iframe
        src="{{ url }}#toolbar=0&navpanes=0&scrollbar=0&view=Fit"
        class="pdf-iframe"
        width="100%"
        height="600"
        data-pdf-url="{{ url }}"
        style="border: none;"
      >
        Ваш браузер не поддерживает отображение PDF.
        <a href="{{ url }}" download>Скачайте файл</a> для просмотра.
      </iframe>
    </div>
  </div>
  {% endif %}

</div>